# Arquivos de ambiente e segredos
# Ignora qualquer arquivo .env em qualquer pasta do projeto
**/.env
**/.env.*
!**/.env.example

# Caches e artefatos do Python
# Ignora em qualquer subpasta (ex: dentro de pagamentos-service/)
**/__pycache__/
**/*.pyc
.pytest_cache/

# Pastas de ambiente virtual
# Se você criar um venv na raiz ou dentro de um serviço, ele será ignorado
venv/
.venv/
env/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db